<template>
  <v-row justify="center" align="center" class="py-16 flex-column flex-nowrap">
    <v-col cols="12" class="mb-16">
      <v-img
        src="/logo.png"
        contain
        max-height="159px"
        max-width="80%"
        class="mx-auto"
      />
    </v-col>

    <v-col cols="12" sm="9" md="6" lg="4" class="mb-16 text-center">
      <v-text-field
        ref="searchInput"
        v-model="searchQuery"
        solo
        prepend-inner-icon="mdi-magnify"
        hide-details
        autocomplete="false"
        spellcheck="false"
        class="search-input mb-6"
        :class="[isInputFocused ? 'elevation-6' : 'elevation-1']"
        :loading="isSearching"
        :disabled="isSearching"
        :error="error"
        @focus="isInputFocused = true"
        @blur="isInputFocused = false"
        @keyup.enter="search"
      />
      <v-btn
        color="primary"
        height="42px"
        min-width="126px"
        :disabled="isSearching || !searchQuery"
        @click="search"
        >Search</v-btn
      >

      <div v-if="error" class="text-center mt-6">
        <template v-if="errorCode === 401">
          <h4 class="error--text mb-2">Invalid JWT token!</h4>
          <v-btn @click="resetToken">Reset token</v-btn>
        </template>
        <template v-else>
          <h4 class="error--text">
            There seems to be a problem on our end. Please try again later!
          </h4>
        </template>
      </div>
    </v-col>

    <template v-if="hasSearched && !error">
      <v-col cols="12" lg="8">
        <v-data-table
          :headers="headers"
          :items="items"
          :loading="isLoading"
          hide-default-footer
          class="elevation-2 mb-4"
        />
        <v-pagination
          :value="page"
          :length="totalItems"
          total-visible="5"
          @input="setPage"
        />
      </v-col>
    </template>

    <v-dialog v-model="tokenDialog" persistent max-width="400px">
      <v-text-field
        v-model="token"
        solo
        hide-details
        prepend-inner-icon="mdi-key"
        label="Paste your JWT token here"
        autocomplete="false"
        spellcheck="false"
        @keyup.enter="token && setToken()"
      >
        <template v-if="token" #append>
          <v-icon color="success" @click="setToken">mdi-check</v-icon>
        </template>
      </v-text-field>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import { Vue, Component } from 'nuxt-property-decorator'

export type OntologyClass = {
  primaryID: string
  primaryLabel: string
  textualDefinitions: string[]
}

const ITEMS_PER_PAGE = 10

@Component
export default class Homepage extends Vue {
  token = ''
  tokenDialog = false

  searchQuery = ''
  hasSearched = false
  error = false
  errorCode = null
  isInputFocused = false
  isSearching = false
  isLoading = false
  totalItems = 0
  page = 1
  items = []
  headers = [
    {
      text: 'Label',
      value: 'primaryLabel',
    },
    {
      text: 'ID',
      value: 'primaryID',
    },
    {
      text: 'Definition',
      value: 'textualDefinitions',
    },
  ]

  mounted() {
    const token = window.sessionStorage.getItem('token')

    if (token) {
      this.$axios.setToken(token, 'Bearer')
    } else {
      this.tokenDialog = true
    }

    const input = this.$refs.searchInput as HTMLInputElement
    input.focus()
  }

  clearErrors() {
    this.error = false
    this.errorCode = null
  }

  async setPage(newPage: number) {
    if (newPage === this.page) return

    this.clearErrors()
    this.isLoading = true
    await this.fetchData(newPage)
    this.page = newPage
    this.isLoading = false
  }

  setToken() {
    window.sessionStorage.setItem('token', this.token)
    this.$axios.setToken(this.token, 'Bearer')
    this.tokenDialog = false
    this.token = ''
    this.clearErrors()
  }

  resetToken() {
    window.sessionStorage.removeItem('token')
    this.token = ''
    this.tokenDialog = true
  }

  async search() {
    if (!this.searchQuery) return

    this.clearErrors()
    this.isSearching = true
    this.page = 1
    await this.fetchData()
    this.isSearching = false
  }

  async fetchData(page = 1) {
    try {
      const { elements, total } = await this.$axios.$get(
        'https://demo.centree.scibite.io/api/search',
        {
          params: {
            q: this.searchQuery,
            from: (page - 1) * ITEMS_PER_PAGE,
            size: ITEMS_PER_PAGE,
          },
        }
      )

      !this.hasSearched && (this.hasSearched = true)
      this.items = elements.map((e: OntologyClass) => ({
        primaryID: e.primaryID,
        primaryLabel: e.primaryLabel,
        textualDefinitions: e.textualDefinitions[0] || '-',
      }))
      this.totalItems = total
    } catch (e) {
      this.error = true
      this.errorCode = e.response.status
    }
  }
}
</script>

<style scoped>
.search-input {
  transition: box-shadow 0.2s ease-out;
}
</style>
